<h1>Projects</h1>
<ul>
 <% @projects.each do |project| %>
 <li>
   <% if current_user.email == project.title || current_user.email == 'im@s' %>
      <%= link_to project.title, project_path(project.id) %> (<%=" 残りタスク数 "%><%= project.tasks.unfinished.count  %><%=" / 全てのタスク数 "%><%= project.tasks.count  %>)
     <% if current_user.email == 'im@s' %>
      <%= link_to "[編集]", edit_project_path(project.id) %>
      <%= link_to "[消去]", project_path(project.id), method: :delete,data: {confirm: "本当に消しますか?"} %>
    <% end %>
  <% end %>
 </li>
 <% end %>
</ul>
  <% if current_user.email == 'im@s' %>
    <p><%= link_to "Add New", new_project_path %>
  <% end %>
